<div class="content">
  <div ng-hide="user.subscribed" class="subscription process">

    <div
      class="add sources"
      ng-controller="Sources"
      >

      <form
        name="form.source"
        class="new source"
        ng-hide="user.sources.length > 0"
        ng-submit="add(source)"
        >

        <h3>
          Send me a digest of the following RSS feeds:
          <select
            name="deliveryFrequency"
            ng-model="user.deliveryFrequency"
            required
            >
            <option value="1 day">Daily</option>
            <option value="1 week">Weekly</option>
            <option value="1 month">Monthly</option>
          </select>
        </h3>

        <div
          class="errors"
          ng-show="form.source.$invalid && form.source.$dirty"
          >
          <ul>
            <li ng-show="form.source.url.$error.required">
              Please enter a website.
            </li>

            <li ng-show="form.source.url.$error.url">
              Please enter a valid URL.
            </li>

            <li ng-show="form.source.url.$error.unique">
              This site already exists.
            </li>
          </ul>
        </div>

        <div class="field">
          <input
            type="url"
            ng-model="source.url"
            name="url"
            placeholder="https://news.ycombinator.com/rss"
            class="feed-input"
            required
          >

          <a href class="button" ng-click="add(source)">Add Feed</a>
        </div>

        <div class="source list">
          <ul ng-repeat="source in sources">
            <li>{{ source.url }}</li>
          </ul>
        </div>

        <div class="field" ng-class="{ faded: sources.length === 0 }">
          <a href class="button" ng-click="save(sources)">Next Step: your email</a>
        </div>
      </form>
    </div>

    <div
      class="set email"
      ng-show="user.sources.length"
      ng-controller="Subscribe"
      >
      <h3>Where do you want your digest to go?</h3>

      <form name="form.subscriber">

        <div
          class="errors"
          ng-show="form.subscriber.$invalid && form.subscriber.$dirty"
          >
          <ul>
            <li ng-show="form.subscriber.email.$error.required">
              Please enter an email.
            </li>

            <li ng-show="form.subscriber.email.$error.email">
              Please enter a valid email.
            </li>

            <li ng-show="form.subscriber.email.$error.processable">
              Your email is already in use. Settings management is coming soon.
            </li>
          </ul>
        </div>

        <div class="field">
          <input
            type="email"
            name="email"
            ng-model="user.email"
            placeholder="Your email"
            required
          />

          <a href class="button" ng-click="submit(user)">Cover me</a>
        </div>
      </form>

    </div>
  </div>

  <div class="subscription success" ng-show="user.subscribed">
    <h1>All set! We've got you covered.</h1>
    <h2>Your first digest will arrive in {{ user.deliveryFrequency }}</h2>
  </div>
</div>
